@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.button {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background-color 200ms, color 200ms, box-shadow 200ms ease-in-out;
}

.button--neutral-primary {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}
.button--neutral-primary:hover {
  background-color: #1a1a1a;
}

.button--neutral-secondary {
  background-color: hsl(240deg, 6%, 90%);
  color: hsl(0deg, 0%, 0%);
}
.button--neutral-secondary:hover {
  background-color: #c9c9cf;
}

.button--neutral-tertiary {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 0%);
}
.button--neutral-tertiary:hover {
  background-color: #e6e6e6;
}

.button--accent-primary {
  background-color: hsl(273deg, 83%, 47%);
  color: hsl(0deg, 0%, 100%);
}
.button--accent-primary:hover {
  background-color: #6610ad;
}

.button--accent-secondary {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(273deg, 83%, 47%);
}
.button--accent-secondary:hover {
  background-color: hsl(273deg, 83%, 47%);
  color: hsl(0deg, 0%, 100%);
}

.button--large {
  font-size: 1rem;
  padding: 1em 1.5em;
}

.button--small {
  font-size: 0.875rem;
  padding: 0.875em 1em;
}

.button--accent-slide-hover {
  box-shadow: inset 0 0 0 0 hsl(273deg, 83%, 47%);
}
.button--accent-slide-hover:hover {
  background-color: unset;
  box-shadow: inset 12rem 0 0 0 hsl(273deg, 83%, 47%);
}

.button--neutral-stroke {
  border: 1px solid hsl(240deg, 6%, 90%);
}

.button--accent-stroke {
  border: 1px solid hsl(273deg, 83%, 47%);
}

.link {
  transition: color 200ms;
}
.link:hover {
  text-decoration: underline;
}
.link:visited {
  text-decoration: none;
  color: hsl(300deg, 32.6%, 37.8%);
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border: 1px solid hsl(240deg, 6%, 90%);
  padding: 1rem;
  border-radius: 4px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  font-size: clamp(1rem, 0.18vw + 0.96rem, 1.13rem);
}

a.link {
  color: hsl(193.5deg, 98.7%, 30%);
}

section {
  padding-block: 2em;
}

h1 {
  font-size: clamp(1.95rem, 2.63vw + 1.43rem, 3.8rem);
}

p {
  font-size: clamp(1rem, 0.18vw + 0.96rem, 1.13rem);
}

.container {
  height: inherit;
  width: min(85%, 1280px);
  margin-inline: auto;
}

.section-heading {
  margin-bottom: 1em;
  font-size: clamp(1.56rem, 1.38vw + 1.29rem, 2.53rem);
}

.page-subtitle {
  margin-top: 1rem;
  color: hsl(240deg, 5%, 34%);
  max-width: 640px;
}

.section--large {
  padding-block: 4em;
}

.iframe-container {
  min-height: 100vh;
  width: 100%;
  overflow-x: auto;
}

.iframe {
  width: 100%;
  height: 100vh;
  border: 1px solid hsl(0deg, 0%, 80%);
  border-radius: 4px;
}
.iframe--min-width {
  min-width: 36rem;
}

.header {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
  height: 64px;
  position: relative;
}

.header-container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.header__logo img {
  width: 2.5rem;
}
.header__logo span {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.5rem;
}

.primary-nav > ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
  list-style: none;
}
.primary-nav > ul .primary-nav__link {
  font-size: 1rem;
}
.primary-nav > ul .primary-nav__link--active {
  font-weight: 700;
}

.mobile-nav-button {
  all: unset;
  display: none;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.mobile-nav-button img {
  width: 2rem;
  height: 2rem;
}
.mobile-nav-button:hover, .mobile-nav-button:focus {
  background-color: hsla(0deg, 0%, 100%, 0.2);
}

.mobile-nav {
  width: 100%;
  position: absolute;
  left: 0;
  top: 64px;
  z-index: 100;
  transition: transform 500ms;
  background-color: hsl(0deg, 0%, 100%);
  transform: translateX(-100%);
  display: none;
  padding-block: 2rem;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: calc(100vh - 64px);
  list-style: none;
  color: hsl(0deg, 0%, 0%);
}
.mobile-nav ul a {
  font-size: clamp(1.56rem, 1.38vw + 1.29rem, 2.53rem);
}
.mobile-nav ul a.mobile-nav__link--active {
  font-weight: 700;
}
.mobile-nav ul a:hover {
  color: hsl(273deg, 83%, 47%);
}

.hero-section {
  background-image: url("/img/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 64px);
  position: relative;
  overflow: hidden;
}
.hero-section::before {
  content: "";
  position: absolute;
  inset: -200px;
  width: max(50%, 600px);
  aspect-ratio: 1/1;
  background-color: hsla(273deg, 83%, 47%, 0.25);
  z-index: 1;
  border-radius: 100%;
}
.hero-section * {
  z-index: 10;
  position: relative;
}

.hero__heading {
  max-width: 800px;
  font-size: clamp(2.44rem, 4.65vw + 1.51rem, 5.7rem);
  color: hsl(0deg, 0%, 100%);
  line-height: 1;
}

.hero__description {
  margin-top: 1em;
  font-size: clamp(1rem, 0.18vw + 0.96rem, 1.13rem);
  font-weight: 700;
  max-width: 700px;
}

.hero__cta {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: 4em;
  flex-wrap: wrap;
}

.about__content {
  display: flex;
  gap: 4rem;
}
.about__content * {
  flex: 1;
}

.about__paragraph {
  font-size: 1rem;
  color: hsl(240deg, 5%, 34%);
  margin-bottom: 2rem;
}

.about__link {
  display: inline-block;
}

.about__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  max-height: 30rem;
}

.quotes-section {
  background-color: hsl(240deg, 5%, 96%);
}

.quotes-card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.quote-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.quote-card p::before {
  content: "“";
}
.quote-card p::after {
  content: "”";
}

.quote-cite {
  display: block;
  margin-top: auto;
  font-size: 0.875rem;
  font-weight: 700;
  color: hsl(273deg, 83%, 47%);
  font-style: normal;
}
.quote-cite::before {
  content: "–";
  margin-right: 4px;
}

.footer {
  margin-top: auto;
  padding: 1em 0;
  background-color: hsl(0deg, 0%, 0%);
  text-align: center;
}
.footer .copyright-text {
  font-size: 0.875rem;
  color: white;
}
.footer .credits-text {
  margin-top: 0.5em;
  font-size: 0.8125rem;
  color: #848490;
}

.member-card-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.member-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 250px;
  flex-grow: 1;
}
.member-card__top .member-card-role {
  padding: 0.5rem 1rem;
  background-color: #ecdafc;
  font-weight: 700;
  color: hsl(273deg, 83%, 47%);
  font-size: 0.8125rem;
  margin: 1rem -1rem 0 -1rem;
}
.member-card__top .member-card-role:empty {
  display: none;
}
.member-card p {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.member-card__bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: auto;
}
.member-card__link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}
.member-card__link span {
  font-size: 0.8125rem;
  color: hsl(240deg, 5%, 34%);
}
.member-card__link a {
  font-size: 1rem;
}

.contact-links-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-link {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.contact-link a {
  font-size: 1rem;
}

@media only screen and (max-width: 1024px) {
  .about__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .hero-section::before {
    display: none;
  }
  .primary-nav {
    display: none;
  }
  .mobile-nav-button {
    display: flex;
  }
  .mobile-nav {
    display: block;
  }
  body[data-mobile-nav-expanded=true] {
    overflow: hidden;
  }
  body[data-mobile-nav-expanded=false] {
    overflow: auto;
  }
  body[data-mobile-nav-expanded=true] .mobile-nav-button__menu {
    display: none;
  }
  body[data-mobile-nav-expanded=false] .mobile-nav-button__exit {
    display: none;
  }
  body[data-mobile-nav-expanded=true] .mobile-nav {
    transform: translateX(0%);
  }
  body[data-mobile-nav-expanded=false] .mobile-nav {
    transform: translateX(-100%);
  }
  [data-aos-delay] {
    transition-delay: 0ms !important;
  }
}/*# sourceMappingURL=stylesheets.css.map */