// Buttons

.button {
  font-weight: $fw-bold;
  text-transform: uppercase;
  border-radius: $border-radius;
  transition: background-color $transition-duration, color $transition-duration,
    box-shadow $transition-duration ease-in-out;
}

.button--neutral-primary {
  background-color: $clr-black;
  color: $clr-white;

  &:hover {
    background-color: lighten($clr-black, 10%);
  }
}

.button--neutral-secondary {
  background-color: $clr-gray--stroke;
  color: $clr-black;

  &:hover {
    background-color: darken($clr-gray--stroke, 10%);
  }
}

.button--neutral-tertiary {
  background-color: $clr-white;
  color: $clr-black;

  &:hover {
    background-color: darken($clr-white, 10%);
  }
}

.button--accent-primary {
  background-color: $clr-accent;
  color: $clr-white;

  &:hover {
    background-color: darken($clr-accent, 10%);
  }
}

.button--accent-secondary {
  $hover-bg: $clr-accent;

  background-color: $clr-white;
  color: $clr-accent;

  &:hover {
    background-color: $clr-accent;
    color: $clr-white;
  }
}

.button--large {
  font-size: $fs-base-static;
  padding: 1em 1.5em;
}

.button--small {
  font-size: $fs-sm;
  padding: 0.875em 1em;
}

.button--accent-slide-hover {
  box-shadow: inset 0 0 0 0 $clr-accent;

  &:hover {
    background-color: unset;
    box-shadow: inset 12rem 0 0 0 $clr-accent;
  }
}

.button--neutral-stroke {
  border: 1px solid $clr-gray--stroke;
}

.button--accent-stroke {
  border: 1px solid $clr-accent;
}

// Links

.link {
  transition: color $transition-duration;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    text-decoration: none;
    color: $clr-link--visited;
  }
}

// Cards

.card {
  background-color: $clr-white;
  border: 1px solid $clr-gray--stroke;
  padding: 1rem;
  border-radius: $border-radius;
}
