// Buttons

.button {
  padding: 1em 1.5em;
  font-weight: $fw-bold;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: $border-radius;
  transition: background-color $transition-duration;
}

.button--primary {
  background-color: $clr-black;
  color: $clr-white;

  &:hover {
    background-color: lighten($clr-black, 10%);
  }
}

.button--secondary {
  background-color: $clr-gray--stroke;
  color: $clr-black;

  &:hover {
    background-color: darken($clr-gray--stroke, 10%);
  }
}

.button--tertiary {
  background-color: $clr-white;
  color: $clr-black;

  &:hover {
    background-color: darken($clr-white, 10%);
  }
}

.button--stroke {
  border: 1px solid $clr-gray--stroke;
}
