@mixin flex-row-flow($gap) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin flex-column-flow($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin circle($diameter, $bg-color) {
  width: $diameter;
  background-color: $bg-color;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
