@import "reset";
@import "variables";
@import "animations";
@import "mixins";
@import "utilities";
@import "components";

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  font-size: $fs-base-static;
}

h1 {
  font-size: $fs-xl;
}

section {
  padding-block: 2em;
}

p {
  font-size: $fs-base;
}

.container {
  height: inherit;
  width: min(85%, $max-container-width);
  margin-inline: auto;
}

.page-heading {
  font-size: $fs-xl;
}

.page-subtitle {
  margin-top: 1rem;
  color: $clr-text--light;
  max-width: 50ch;
}

.section-heading {
  margin-bottom: 1em;
  font-size: $fs-lg;
}

.section--large {
  padding-block: 4em;
}

.iframe-container {
  min-height: 100vh;
  width: 100%;
  overflow-x: auto;
}

.iframe {
  width: 100%;
  height: 100vh;
  border: 1px solid $clr-gray--stroke;
  border-radius: $border-radius;

  &--min-width {
    min-width: 36rem;
  }
}

// Header

.header {
  background-color: $clr-black;
  color: $clr-white;
  height: $header-height;
  position: relative;
}

.header-container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  @include flex-row-flow(1rem);
  align-items: center;
  font-weight: $fw-bold;
  font-size: $fs-sm;
  letter-spacing: 0.5rem;

  img {
    width: 2.5rem;
  }
}

.primary-nav > ul {
  @include flex-row-flow(2em);
  list-style: none;

  .primary-nav__link {
    font-size: $fs-base-static;
  }

  .primary-nav__link--active {
    font-weight: $fw-bold;
  }
}

.mobile-nav-button {
  all: unset;
  display: none;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;

  img {
    width: 2rem;
    height: 2rem;
  }

  &:hover,
  &:focus {
    background-color: hsl(0, 0%, 100%, 0.2);
  }
}

.mobile-nav {
  width: 100%;
  position: absolute;
  left: 0;
  top: $header-height;
  z-index: 100;
  background-color: $clr-white;
  transform: translateX(-100%);
  display: none;
  padding-block: 2rem;
}

.mobile-nav ul {
  @include flex-column-flow(2em);
  height: calc(100vh - $header-height);
  list-style: none;
  color: $clr-black;

  a {
    font-size: $fs-lg;

    &.mobile-nav__link--active {
      font-weight: $fw-bold;
    }

    &:hover {
      color: $clr-accent;
    }
  }
}

// Hero Section

.hero-section {
  background: hsl(194, 36%, 55%) url("/img/hero-background.webp") center/cover
    no-repeat;
  min-height: calc(100vh - $header-height);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    @include circle(max(50%, 600px), hsl(273, 83%, 47%, 0.25));
    position: absolute;
    inset: -200px;
    z-index: 1;
  }

  * {
    z-index: 10;
    position: relative;
  }
}

.hero__heading {
  max-width: 800px;
  font-size: $fs-2xl;
  color: $clr-white;
  line-height: 1;
}

.hero__description {
  margin-top: 1em;
  font-size: $fs-base;
  font-weight: $fw-bold;
  max-width: 50ch;
}

.hero__cta {
  @include flex-row-flow(1em);
  margin-top: 4em;
  flex-wrap: wrap;
}

// About Us Section

.about__content {
  display: flex;
  gap: 4rem;

  * {
    flex: 1;
  }
}

.about__paragraph {
  font-size: $fs-base-static;
  color: $clr-text--light;
  margin-bottom: 2rem;
}

.about__link {
  display: inline-block;
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $border-radius;
  max-height: 30rem;
}

// Quotes Section

.quotes-section {
  background-color: $clr-gray--bg;
}

.quotes-card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.quote-card {
  @include flex-column-flow(2rem);

  p::before {
    content: "\201C";
  }

  p::after {
    content: "\201D";
  }
}

.quote-cite {
  display: block;
  margin-top: auto;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  color: $clr-accent;
  font-style: normal;

  &::before {
    content: "\2013";
    margin-right: 4px;
  }
}

// Footer

.footer {
  margin-top: auto;
  padding: 1rem 0;
  background-color: $clr-black;
  text-align: center;

  .copyright-text {
    font-size: $fs-sm;
    color: $clr-white;
  }

  .credits-text {
    margin-top: 0.5em;
    font-size: $fs-xs;
    color: lighten($clr-text--light, 35%);
  }
}

// Members Page

.member-card-container {
  @include flex-row-flow(1rem);
  flex-wrap: wrap;
}

.member-card {
  @include flex-column-flow(2rem);
  flex-basis: 250px;
  flex-grow: 1;

  &__top {
    .member-card-role {
      padding: 0.5rem 1rem;
      background-color: lighten($clr-accent, 45%);
      font-weight: $fw-bold;
      color: $clr-accent;
      font-size: $fs-xs;
      margin: 1rem -1rem 0 -1rem;

      &:empty {
        display: none;
      }
    }
  }

  p {
    margin-top: 0.5rem;
    font-size: $fs-base-static;
  }

  &__bottom {
    @include flex-column-flow(1rem);
    margin-top: auto;
  }

  &__link {
    @include flex-column-flow(0.5rem);
    align-items: flex-start;

    span {
      font-size: $fs-xs;
      color: $clr-text--light;
    }

    a {
      font-size: $fs-base-static;
    }
  }
}

// Contact Page

.contact-links-container {
  @include flex-column-flow(1rem);
}

.contact-link {
  @include flex-row-flow(1rem);
  align-items: center;

  a {
    font-size: $fs-base-static;
  }
}

// Media Queries

@media only screen and (max-width: $bp-lg) {
  .about__content {
    @include flex-column-flow(2rem);
  }
}

@media only screen and (max-width: $bp-md) {
  .hero-section::before {
    display: none;
  }

  .primary-nav {
    display: none;
  }

  .mobile-nav-button {
    display: flex;
  }

  .mobile-nav {
    display: block;
  }

  body[data-mobile-nav-expanded="true"] {
    overflow: hidden;
  }

  body[data-mobile-nav-expanded="false"] {
    overflow: auto;
  }

  body[data-mobile-nav-expanded="true"] .mobile-nav-button__open {
    display: none;
  }

  body[data-mobile-nav-expanded="false"] .mobile-nav-button__close {
    display: none;
  }

  .mobile-nav[data-state="opening"] {
    animation: slidein $mobile-nav-transition-duration ease forwards;
    display: block;
  }

  .mobile-nav[data-state="opened"] {
    transform: translateX(0%);
  }

  .mobile-nav[data-state="closing"] {
    animation: slideout $mobile-nav-transition-duration ease forwards;
  }

  .mobile-nav[data-state="closed"] {
    display: none;
  }

  [data-aos-delay] {
    transition-delay: 0ms !important;
  }
}
