@import "reset";
@import "variables";
@import "components";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  overflow: auto;
}

a {
  text-decoration: none;
  color: unset;
  font-size: $fs-base;
}

section {
  padding-block: 2em;
}

h1 {
  font-size: $fs-xl;
}

p {
  font-size: $fs-base;
}

.container {
  height: inherit;
  width: min(85%, $max-container-width);
  margin-inline: auto;
}

.section-heading {
  margin-bottom: 1em;
  font-size: $fs-lg;
}

.page-subtitle {
  margin-top: 1rem;
  color: $clr-text--light;
  max-width: calc($max-container-width / 2);
}

.section--large {
  padding-block: 4em;
}

.iframe {
  width: 100%;
  height: 100vh;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: $border-radius;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

// Header

.header {
  background-color: $clr-secondary;
  color: $clr-primary;
  height: $header-height;
  position: relative;
}

.header-container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    width: 2.5rem;
  }

  span {
    font-weight: $fw-bold;
    font-size: 0.875rem;
    letter-spacing: 0.5rem;
  }
}

.primary-nav > ul {
  display: flex;
  gap: 2em;
  list-style: none;

  .nav-item {
    font-size: $fs-base;
  }

  .primary-nav__link--active {
    font-weight: $fw-bold;
  }
}

.mobile-nav-button {
  all: unset;
  display: none;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;

  img {
    width: 2rem;
    height: 2rem;
  }

  &:hover,
  &:focus {
    background-color: hsl(0, 0%, 100%, 0.2);
  }
}

.mobile-nav {
  width: 100%;
  position: absolute;
  left: 0;
  top: 64px;
  z-index: 100;
  transition: transform 500ms;
  background-color: white;
  transform: translateX(-100%);
  display: none;
  padding-block: 2rem;
}

.mobile-nav ul {
  height: calc(100vh - $header-height);
  list-style: none;
  display: flex;
  flex-direction: column;

  color: black;
  width: 100%;
  gap: 2em;

  a {
    font-size: $fs-lg;

    &:hover {
      color: #8314db;
    }
  }

  .mobile-nav__link--active {
    font-weight: 700;
  }
}

// Hero Section

.hero-section {
  background-image: url("/img/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - $header-height);
}

.hero__heading {
  max-width: 800px;
  font-size: $fs-2xl;
  color: $clr-primary;
  line-height: 1;
}

.hero__description {
  margin-top: 1em;
  font-size: $fs-base;
  font-weight: $fw-bold;
  max-width: 700px;
}

.hero__cta {
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

// About Us Section

.about__paragraph {
  color: $clr-text--light;
  margin-bottom: 2rem;
}

.about__link {
  color: $clr-accent;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  box-shadow: inset 0 0 0 0 $clr-accent;
  margin: 0 -0.25rem;
  padding: 0.8rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: inset 10rem 0 0 0 $clr-accent;
    color: #ffffff;
  }
}

// Quotes Section

.quotes-section {
  background-color: $clr-gray;
}

.quotes-card-container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.quote-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  background: $clr-primary;
}

.quote-cite {
  display: block;
  margin-top: auto;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  color: $clr-accent;

  &::before {
    content: "\2013";
    margin-right: 4px;
  }
}

// Footer

.footer {
  margin-top: auto;
  padding: 1em 0;
  background-color: $clr-secondary;
  text-align: center;

  .footer-text {
    font-size: 0.8rem;
    color: white;
  }
}

// Members Page

.member-card-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
}

.member-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: $clr-gray;
  flex-basis: 250px;
  flex-grow: 1;

  p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;

    span {
      font-size: 0.8rem;
      color: $clr-gray-dark;
    }

    a {
      font-size: 1rem;

      &:hover {
        color: $clr-accent;
        text-decoration: underline;
      }
    }
  }
}

// Contact Page

.links-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5em;

  a {
    font-size: 1rem;

    &:hover {
      color: $clr-accent;
      text-decoration: underline;
    }
  }
}

// Media Queries

@media only screen and (max-width: $bp-medium) {
  .primary-nav {
    display: none;
  }

  .mobile-nav-button {
    display: flex;
  }

  .mobile-nav {
    display: block;
  }

  body[data-mobile-nav-expanded="true"] {
    overflow: hidden;
  }

  body[data-mobile-nav-expanded="false"] {
    overflow: auto;
  }

  body[data-mobile-nav-expanded="true"] .mobile-nav-button__menu {
    display: none;
  }

  body[data-mobile-nav-expanded="false"] .mobile-nav-button__exit {
    display: none;
  }

  body[data-mobile-nav-expanded="true"] .mobile-nav {
    transform: translateX(0%);
  }

  body[data-mobile-nav-expanded="false"] .mobile-nav {
    transform: translateX(-100%);
  }
}
