@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// Variables

$clr-primary: hsl(0, 0%, 100%);
$clr-secondary: hsl(0, 0%, 0%);
$clr-accent: hsl(273, 83%, 47%);
$clr-gray: hsl(0, 0%, 95%);

$fw-bold: 700;
$fw-regular: 400;

$fs-sm: clamp(0.8rem, -0.07vw + 0.81rem, 0.75rem);
$fs-base: clamp(1rem, 0.18vw + 0.96rem, 1.13rem);
$fs-md: clamp(1.25rem, 0.63vw + 1.13rem, 1.69rem);
$fs-lg: clamp(1.56rem, 1.38vw + 1.29rem, 2.53rem);
$fs-xl: clamp(1.95rem, 2.63vw + 1.43rem, 3.8rem);
$fs-2xl: clamp(2.44rem, 4.65vw + 1.51rem, 5.7rem);
$fs-3xl: clamp(3.05rem, 7.84vw + 1.48rem, 8.54rem);

// Base Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  font-size: $fs-base;
}

section {
  padding-block: 2em;
}

h1 {
  font-size: $fs-xl;
}

p {
  font-size: $fs-base;
}

.container {
  height: inherit;
  width: min(85%, 1280px);
  margin-inline: auto;
}

.section-heading {
  margin-bottom: 1em;
  font-size: $fs-lg;
}

// Header

.header {
  background-color: $clr-secondary;
  color: $clr-primary;
  height: 64px;
}

.header-container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > ul {
  display: flex;
  gap: 2em;
  list-style: none;

  a {
    font-size: $fs-base;
  }

  .nav-item--active {
    font-weight: $fw-bold;
  }
}

.quotes-section {
  background-color: $clr-gray;
}



// Hero page
.hero-section{
  background-image: url("./img/Hero\ Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 742.75px;
}

.hero-container > h1 {

  font-size: $fs-3xl;
  color: #FFFFFF;
}

.hero-container > pre{
  font-size: $fs-base;
}
// Footer

.footer {
  margin-top: auto;
  padding: 1em 0;
  background-color: $clr-secondary;
  text-align: center;

  .footer-text {
    font-size: 0.8rem;
    color: white;
  }
}
