@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  font-size: clamp(1rem, 0.18vw + 0.96rem, 1.13rem);
}

section {
  padding-block: 2em;
}

h1 {
  font-size: clamp(1.95rem, 2.63vw + 1.43rem, 3.8rem);
}

p {
  font-size: clamp(1rem, 0.18vw + 0.96rem, 1.13rem);
  line-height: 1.5;
}

.container {
  height: inherit;
  width: min(85%, 1280px);
  margin-inline: auto;
}

.section-heading {
  margin-bottom: 1em;
  font-size: clamp(1.56rem, 1.38vw + 1.29rem, 2.53rem);
}

.header {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
  height: 64px;
}

.header-container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-logo img {
  width: 2.5rem;
}
.header-logo span {
  font-weight: 700;
}

.nav > ul {
  display: flex;
  gap: 2em;
  list-style: none;
}
.nav > ul a {
  font-size: clamp(1rem, 0.18vw + 0.96rem, 1.13rem);
}
.nav > ul .nav-item--active {
  font-weight: 700;
}

#menu {
  display: none;
}

#menu-nav {
  height: calc(100vh - 64px);
  display: none;
}

#exit-menu {
  display: none;
}

.hero-section {
  background-image: url("./img/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 64px);
}

.hero-container > h1 {
  max-width: 900px;
  font-size: clamp(2.44rem, 4.65vw + 1.51rem, 5.7rem);
  color: hsl(0deg, 0%, 100%);
}

.hero-container > p {
  margin-top: 1em;
  font-size: clamp(1rem, 0.18vw + 0.96rem, 1.13rem);
  font-weight: 700;
  max-width: 700px;
}

.cta-container {
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.cta-container .cta-link {
  background-color: hsl(0deg, 0%, 100%);
  padding: 1em 1.5em;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}
.cta-container .cta-link:hover {
  background-color: black;
  color: white;
  transition: 200ms;
}

.about-link {
  color: #8314db;
  font-size: clamp(0.8rem, -0.07vw + 0.81rem, 0.75rem);
  font-weight: 700;
  box-shadow: inset 0 0 0 0 #8314db;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about-link:hover {
  box-shadow: inset 10rem 0 0 0 #8314db;
  color: #ffffff;
}

.footer {
  margin-top: auto;
  padding: 1em 0;
  background-color: hsl(0deg, 0%, 0%);
  text-align: center;
}
.footer .footer-text {
  font-size: 0.8rem;
  color: white;
}

.member-card-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
}

.member-card {
  padding: 15px;
  background: #f3f3f3;
  flex-basis: 250px;
  flex-grow: 1;
}

.quotes-section {
  background-color: hsl(0deg, 0%, 95%);
}

.quote {
  padding: 15px;
  background: #ffffff;
  width: 20rem;
}

.quote-name-class {
  font-size: clamp(0.8rem, -0.07vw + 0.81rem, 0.75rem);
  font-weight: 700;
  color: #8314db;
}

.insta-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.insta-icon {
  display: flex;
  justify-content: flex-start;
}

.insta-link:hover {
  color: #8314db;
  text-decoration: underline;
}

.tiktok-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.tiktok-icon {
  display: flex;
  justify-content: flex-start;
}

.tiktok-link:hover {
  color: #8314db;
  text-decoration: underline;
}

.forms {
  width: 100%;
  height: 80vh;
}

.docs {
  width: 100%;
  height: 80vh;
}

@media only screen and (max-width: 700px) {
  #menu {
    display: block;
  }
  #nav {
    display: none;
  }
  #menu-nav {
    display: none;
  }
  #menu-nav {
    height: calc(100vh - 64px);
    display: none;
    justify-content: center;
  }
  #menu-nav > ul {
    height: calc(100vh - 64px);
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=stylesheets.css.map */