@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// Variables

$clr-primary: hsl(0, 0%, 100%);
$clr-secondary: hsl(0, 0%, 0%);
$clr-accent: hsl(273, 83%, 47%);
$clr-gray: hsl(0, 0%, 95%);

$fw-bold: 700;
$fw-regular: 400;

$fs-sm: clamp(0.8rem, -0.07vw + 0.81rem, 0.75rem);
$fs-base: clamp(1rem, 0.18vw + 0.96rem, 1.13rem);
$fs-md: clamp(1.25rem, 0.63vw + 1.13rem, 1.69rem);
$fs-lg: clamp(1.56rem, 1.38vw + 1.29rem, 2.53rem);
$fs-xl: clamp(1.95rem, 2.63vw + 1.43rem, 3.8rem);
$fs-2xl: clamp(2.44rem, 4.65vw + 1.51rem, 5.7rem);
$fs-3xl: clamp(3.05rem, 7.84vw + 1.48rem, 8.54rem);

$header-height: 64px;

// Base Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  font-size: $fs-base;
}

section {
  padding-block: 2em;
}

h1 {
  font-size: $fs-xl;
}

p {
  font-size: $fs-base;
}

.container {
  height: inherit;
  width: min(85%, 1280px);
  margin-inline: auto;
}

.section-heading {
  margin-bottom: 1em;
  font-size: $fs-lg;
}

// Header

.header {
  background-color: $clr-secondary;
  color: $clr-primary;
  height: $header-height;
}

.header-container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    width: 2.5rem;
  }

  span {
    font-weight: $fw-bold;
  }
}

.nav > ul {
  display: flex;
  gap: 2em;
  list-style: none;

  a {
    font-size: $fs-base;
  }

  .nav-item--active {
    font-weight: $fw-bold;
  }
}

.quotes-section {
  background-color: $clr-gray;
}

// Hero

.hero-section {
  background-image: url("./img/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - $header-height);
}

.hero-container > h1 {
  width: 900px;
  font-size: $fs-2xl;
  color: $clr-primary;
}

.hero-container > p {
  font-size: $fs-base;
}

.cta-container {
  margin-top: 2em;
  display: flex;
  gap: 1em;

  .cta-link {
    background-color: $clr-primary;
    padding: 1em;
  }
}


//About Us Section

.about-link{
  color: #8314DB;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  box-shadow: inset 0 0 0 0 #8314DB;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.about-link:hover{
  box-shadow: inset 10rem 0 0 0 #8314DB;
  color: #FFFFFF;
}

// Footer

.footer {
  margin-top: auto;
  padding: 1em 0;
  background-color: $clr-secondary;
  text-align: center;

  .footer-text {
    font-size: 0.8rem;
    color: white;
  }
}

//Members section

.member-card {
  padding: 15px;
  background: #f3f3f3;
  width: 235.9px;
}


//Quote section

.quote {
  padding: 15px;
  background:#FFFFFF;
  width: 20rem;
}

.quote-name-class {
  font-size: $fs-sm;
  font-weight: $fw-bold;
  color: #8314DB;
}

//Contact Page
.insta-container{
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}

.insta-icon{
  display: flex;
  justify-content: flex-start;
}


.insta-link:hover{
  color: #8314DB;
}

.tiktok-container{
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}

.tiktok-icon{
  display: flex;
  justify-content: flex-start;
}     

.tiktok-link:hover{
  color: #8314DB;
}

.forms{
  width: 100%;
  height: 80vh;
}
//Rules

.docs{
  width: 100%;
  height: 80vh;
}